# Privat24's Digital signature (укр. КЕП/ЕЦП - Електронний Цифровий Підпис)
PRIVATE_KEY_PATH=PrivateKeyPath
PRIVATE_KEY_PASSWORD=PrivateKeyPassword

# Telegram
BOT_TOKEN=YourBotToken

# MongoDB
MONGODB_URI=MongodbURI
MONGODB_DB_NAME=telegram_bot

AVAILABILITY_CHECK_INTERVAL=15 # Time between checks in seconds
